# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# DS/ML artifacts
data/raw/
data/interim/
data/processed/
models/*.joblib
models/*.pkl
models/*.onnx
models/*.json
*.ipynb_checkpoints

# DVC cache
.dvc/cache/

# OS
Thumbs.db
.DS_Store
